header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	justify-content: space-around;
	flex-wrap: nowrap;
  }
  
  /* MENU NAVIGATION */
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
  
	ul {
	  display: flex;
	  list-style: none;
	  
  
	  li {
		padding-right: 40px;
  
		a:hover {
		  color: $couleurSecond;
		}
	  }
	}
  
	li {
	  margin-right: 20px;
	  padding-top: 20px;
	  
	}
  
	a {
	  text-decoration: none;
	  color: $texteCouleur;
	  font-family: $fontDebase;
	}
  
	ul li a {
	  transition: all 0.3s;
  
	  &:after, &:before {
		transition: all 0.3s;
	  }
	}
  }