@media (max-width: 500px) {
  /* Placez vos styles ici */

  .nav__menu {
      display: none;
  }

  .nav__list {
      display: flex;
      flex-direction: column;
  }

  .nav__item {
      margin-bottom: 10px;
  }

  .nav__link {
      display: block;
      width: 100%;
      text-align: center;
  }

  /* Ajoutez d'autres styles spécifiques ici */

  .section1 p {
      font-size: 14px;
  }

  .input-container {
      flex-direction: column;
      align-items: center;
  }

  .CSGO2-container {
      text-align: center;
  }

  .CSGO2-container2__title {
      font-size: 20px;
  }

  .texte_2 {
      font-size: 14px;
  }

  .section2 {
      flex-direction: column;
  }

  .section2__skin1,
  .section2__skin2,
  .section2__skin3 {
      text-align: center;
  }

  .section2__texteSkins {
      font-size: 14px;
  }

  .section2__imgSkins {
      width: 100%;
      height: auto;
  }

  .secction3__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
  }

  .section4 h1 {
      font-size: 20px;
  }

  .section4 p {
      font-size: 14px;
  }

  .statistique2 div {
      flex-direction: column;
      align-items: center;
  }

  .bigTitre h1 {
      font-size: 24px;
  }

  .testee {
      font-size: 14px;
  }

  .section5 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
  }

  .card h3 {
      font-size: 16px;
  }

  .card p {
      font-size: 12px;
  }

  .section6 {
      grid-template-columns: 1fr;
      grid-gap: 10px;
  }

  .form-container {
      width: 100%;
  }
}