.section1 {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
  
	p {
	  display: flex;
	  width: 300px;
	  
	}
  
	.input-container {
	  display: flex;
	  flex-direction: row-reverse;
	  justify-content: space-around;
	  
	}
  }
  
  p {
	margin-bottom: 5px;
	
  }
  
  .input-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0 40px;
	
  }
  
  input {
	margin-right: 10px;
	padding: 10px 50px;
	outline: none;
	
		&::placeholder{
			color: $texteCouleur;
			font-family: $fontDebase;
			text-decoration-line: underline;
			font-size: 15px;
			padding-left: 50px;
		}
  }
  
  .btn {
	@include PremierBoutton;
}

.CSGO2-container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;

	    .csgo_2{
			width: 600px;
			padding-right: 30px
		}
}
  
.btn2{
	@include PremierBoutton;
	display: flex;
	background-color: $couleurPrincpial;
}

@keyframes color {
    0%   { background: #966622; }
    20%  { background: #887965; }
    40%  { background: #796f61; }
    60%  { background: #c2a06c; }
    80%  { background: #b98741; }
    100% { background: #966622; }
  }
  
  body {
    background: #966622; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }
  
  body, html {
	margin: 0;
	padding: 0;
  }
  .section2Background {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: $couleurSecond;
  }