.section1 {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
  
	p {
	  display: flex;
	  width: 300px;
	  
	}
  
	.input-container {
	  display: flex;
	  flex-direction: row-reverse;
	  justify-content: space-around;
	  
	}
  }
  
  p {
	margin-bottom: 5px;
	
  }
  
  .input-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0 40px;
	
  }
  
  input {
	margin-right: 10px;
	padding: 10px 50px;
	outline: none;
	
		&::placeholder{
			color: $texteCouleur;
			font-family: $fontDebase;
			text-decoration-line: underline;
			font-size: 15px;
			padding-left: 50px;
		}
  }
  
  .btn {
	@include PremierBoutton;
}

.CSGO2-container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;

	    .csgo_2{
			width: 600px;
			padding-right: 30px
		}
}
  
.btn2{
	@include PremierBoutton;
	display: flex;
	background-color: $couleurPrincpial;
}

canvas {
  
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
  }

  