.card {
    width: 250px;
    border: 3px solid $couleurPrincpial;
    border-radius: 20px;
    padding: 20px;
    
    display: inline-block;
    margin: 50px 0 50px 0;
}
    
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  .card p {
    margin-top: 5px;
    font-size: 14px;
  }
  .card .social-links {
    margin-top: 10px;
  }
  .card .social-links a {
    display: inline-block;
    margin-right: 5px;
  }


.section5Titre{
  display: flex;
  justify-content: center;
}
 
 .bigTitre{
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
 }
 


.section5{
  margin-left: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: $couleurSecond;
  margin: 0;
  
  img{
    width: auto;
  }

}




