.sectionGrid__grid {
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	max-width: 1200px;
}
.sectionGrid__div1 {
	grid-area: 2 / 1 / 4 / 2;
}
.sectionGrid__div2 {
	grid-area: 1 / 2 / 3 / 4;
}
.sectionGrid__div3 {
	grid-area: 3 / 2 / 5 / 3;
}
.sectionGrid__div4 {
	grid-area: 2 / 4 / 3 / 5;
}
.sectionGrid__div5 {
	grid-area: 2 / 5 / 4 / 6;
}
.sectionGrid__div6 {
	grid-area: 3 / 3 / 6 / 5;
}
.sectionGrid {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: $couleurSecond;
}