@import '_varibales';
@import '_bouttons';
@import '_headerEtNav';
@import '_caroussel';
@import '_obtenirCodeSection';
@import '_sectionSkins';
@import '_sectionGrid';
@import '_sectionStatistiques';
@import '_separateur';
@import '_mediaquery';
@import '_sectionCard';
@import '_sectionMapFormulaire';
@import '_footer';

  
 p{
	color: $texteCouleur;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

  body {
	background-color: $couleurPrincpial;
	margin: 0;
  }
  
  html {
	height: 100%;
  }

h1 , h2, h3 {
  color: $texteCouleur;
}

