@import '_varibales';
@import '_bouttons';
@import '_headerEtNav';
@import '_caroussel';
@import '_pageSection1';

  
 p{
	color: $texteCouleur;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

  body {
	background-color: $couleurPrincpial;
  }
  
