:root {
	--couleurPrincpial: #181d1f;
	--couleurSecond: #3c494e;
	--texteCouleur: rgb(214, 207, 207);
	--fontDebase:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
 p{
	color: var(--texteCouleur);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

  * {
	background-color: var(--couleurPrincpial);
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	justify-content: space-around;
	flex-wrap: nowrap;
  }
  
  /* MENU NAVIGATION */
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
  
	ul {
	  display: flex;
	  list-style: none;
	  
  
	  li {
		padding-right: 40px;
  
		a:hover {
		  color: var(--couleurSecond);
		}
	  }
	}
  
	li {
	  margin-right: 20px;
	  padding-top: 20px;
	  
	}
  
	a {
	  text-decoration: none;
	  color: var(--texteCouleur);
	  font-family: var(--fontDebase);
	}
  
	ul li a {
	  transition: all 0.3s;
  
	  &:after, &:before {
		transition: all 0.3s;
	  }
	}
  }
  
  /* CAROUSEL */
  
  .carousel {
	padding-top: 50px;
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
  
	img {
	  max-width: 1280px;
	  height: auto;
	}
  }
  
  /* SECTION 1 */
  
  .section1 {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
  
	p {
	  display: flex;
	  width: 500px;
	}
  
	.input-container {
	  display: flex;
	  flex-direction: row-reverse;
	  justify-content: space-around;
	}
  }
  
  p {
	margin-bottom: 5px;
  }
  
  .input-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
  }
  
  input {
	margin-right: 10px;
	padding: 10px 100px;
  }
  
  .btn {
	font-family: var(--fontDebase);
	padding: 20px 50px;
	background-color: var(--couleurSecond);
	color: var(--texteCouleur);
	border: none;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background-color: var(--texteCouleur);
		color: var(--couleurPrincpial);
	}
}

