header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: nowrap;
}

/* MENU NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding-right: 40px;
}
nav ul li a:hover {
  color: #3c494e;
}
nav li {
  margin-right: 20px;
  padding-top: 20px;
}
nav a {
  text-decoration: none;
  color: rgb(214, 207, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav ul li a {
  transition: all 0.3s;
}
nav ul li a:after, nav ul li a:before {
  transition: all 0.3s;
}

.carousel {
  padding-top: 50px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.carousel img {
  max-width: 1280px;
  height: auto;
}

.section1 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.section1 p {
  display: flex;
  width: 500px;
}
.section1 .input-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

p {
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

input {
  margin-right: 10px;
  padding: 10px 100px;
}

.btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 50px;
  background-color: #3c494e;
  color: rgb(214, 207, 207);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(214, 207, 207);
  color: #1f1818;
}

p {
  color: rgb(214, 207, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

* {
  background-color: #1f1818;
}