@charset "UTF-8";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: nowrap;
}

/* MENU NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding-right: 40px;
}
nav ul li a:hover {
  color: #3c494e;
}
nav li {
  margin-right: 20px;
  padding-top: 20px;
}
nav a {
  text-decoration: none;
  color: rgb(214, 207, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav ul li a {
  transition: all 0.3s;
}
nav ul li a:after, nav ul li a:before {
  transition: all 0.3s;
}

.carousel {
  padding-top: 50px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.carousel img {
  max-width: 1280px;
  height: auto;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px/1.3 sans-serif;
}

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/
.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100%; /* Or set a fixed height */
}

/* SLIDER */
.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */
.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div + div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  transition: 0.3s;
  transform: translateY(-50%);
  left: 0;
}

.CSSgal .prevNext a:hover {
  opacity: 1;
}

.CSSgal .prevNext a + a {
  left: auto;
  right: 0;
}

/* NAVIGATION */
.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.CSSgal .bullets > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgb(255, 255, 255);
  transition: 0.3s;
}

.CSSgal .bullets > a + a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}

.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal > s:target ~ .bullets > * {
  background: rgba(255, 255, 255, 0.5);
}

/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {
  background: rgb(255, 255, 255);
}

#s2:target ~ .bullets > *:nth-child(2) {
  background: rgb(255, 255, 255);
}

#s3:target ~ .bullets > *:nth-child(3) {
  background: rgb(255, 255, 255);
}

#s4:target ~ .bullets > *:nth-child(4) {
  background: rgb(255, 255, 255);
}

/* More slides? Add here more rules */
/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal > s:target ~ .prevNext > * {
  visibility: hidden;
}

/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1) {
  visibility: visible;
}

#s2:target ~ .prevNext > *:nth-child(2) {
  visibility: visible;
}

#s3:target ~ .prevNext > *:nth-child(3) {
  visibility: visible;
}

#s4:target ~ .prevNext > *:nth-child(4) {
  visibility: visible;
}

/* More slides? Add here more rules */
/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s2:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#s3:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

#s4:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}

/* More slides? Add here more rules */
/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */
.CSSgal {
  color: #fff;
  text-align: center;
}

.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}

.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.section1 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.section1 p {
  display: flex;
  width: 300px;
}
.section1 .input-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

p {
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 40px;
}

input {
  margin-right: 10px;
  padding: 10px 50px;
  outline: none;
}
input::-moz-placeholder {
  color: rgb(214, 207, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration-line: underline;
  font-size: 15px;
  padding-left: 50px;
}
input::placeholder {
  color: rgb(214, 207, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration-line: underline;
  font-size: 15px;
  padding-left: 50px;
}

.btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 50px;
  background-color: #3c494e;
  color: rgb(214, 207, 207);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(214, 207, 207);
  color: #966622;
}

.CSGO2-container {
  background-color: #3c494e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.CSGO2-container .csgo_2 {
  width: 600px;
  padding-right: 30px;
}

.btn2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 50px;
  background-color: #3c494e;
  color: rgb(214, 207, 207);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  background-color: #966622;
}
.btn2:hover {
  background-color: rgb(214, 207, 207);
  color: #966622;
}

@keyframes color {
  0% {
    background: #966622;
  }
  20% {
    background: #9b7034;
  }
  40% {
    background: #966622;
  }
  60% {
    background: #c2a06c;
  }
  80% {
    background: #b98741;
  }
  100% {
    background: #966622;
  }
}
body {
  background: #966622; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

h1 {
  text-align: center;
  font-family: "Kavoon", sans-serif;
  font-size: 2.5em;
  color: white;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  justify-content: space-evenly;
}
.section2 .csgoskins {
  display: flex;
}
.section2 .imgSkins {
  padding: 10px;
}
.section2 .skin1,
.section2 .skin2,
.section2 .skin3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
}

.texteSkins {
  display: flex;
  width: 200px;
}

.CSGO2-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.CSGO2-container2 p {
  width: 800px;
  padding-top: 50px;
}

.grid {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  max-width: 1200px;
}
.grid .div1 {
  grid-area: 2/1/4/2;
}
.grid .div2 {
  grid-area: 1/2/3/4;
}
.grid .div3 {
  grid-area: 3/2/5/3;
}
.grid .div4 {
  grid-area: 2/4/3/5;
}
.grid .div5 {
  grid-area: 2/5/4/6;
}
.grid .div6 {
  grid-area: 3/3/6/5;
}

.secction3 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.section4 img {
  padding-right: 100px;
}

.graphiqueTXT {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: flex-start;
}

.sold h1,
.sold p {
  margin: 0;
  padding-top: 10px;
}

.sold {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.sold h1 {
  margin: 0;
}
.sold p {
  margin: 0;
}

.statistique2 {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 80px;
}
.statistique2 h1 {
  margin: 0;
  margin-right: 150px;
}
.statistique2 p {
  margin: 0;
  margin-right: 150px;
}

.btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 50px;
  background-color: #3c494e;
  color: rgb(214, 207, 207);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(214, 207, 207);
  color: #966622;
}

.astrodivider {
  margin: 64px auto;
  width: 1200px;
  max-width: 100%;
  position: relative;
}
.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #966622;
  background: #3c494e;
}
.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #966622;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: rgb(214, 207, 207);
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}
.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px #3c494e;
}

/* Pour les écrans d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  nav ul li {
    padding-right: 20px;
  }
  .carousel {
    padding-top: 30px;
  }
  .CSSgal .slider h2 {
    margin-top: 20vh;
  }
  .section1 .input-container {
    flex-direction: column;
  }
  .input-group {
    flex-direction: column;
    padding: 10px 0 20px;
  }
  input {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 10px;
  }
  .CSGO2-container .csgo_2 {
    width: 100%;
    padding-right: 0;
  }
  .section2 {
    flex-direction: column;
    align-items: center;
  }
  .section2 .csgoskins {
    flex-direction: column;
  }
  .section2 .skin1,
  .section2 .skin2,
  .section2 .skin3 {
    flex-direction: column;
    align-items: center;
  }
  .section2 .texteSkins {
    width: auto;
  }
  .CSGO2-container2 p {
    width: 100%;
    padding-top: 30px;
  }
  .grid {
    grid-template-areas: "div1 div1" "div2 div3" "div4 div5" "div6 div6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .section4 {
    flex-direction: column;
    align-items: center;
  }
  .astrodivider {
    width: 90%;
  }
}
p {
  color: rgb(214, 207, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #966622;
  margin: 0;
}

html {
  height: 100%;
}